.game__container {
    display: grid;
    grid-template-rows: repeat(40, var(--size-base));
    grid-template-columns: repeat(40, var(--size-base));
    justify-content: center;
    align-content: center;
    height: 90vh;
}

.game__fruit_cell {
    background-color: red;
    animation-name: fruitPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.game__snake_head{
    background-color: blue;
}

.game__snake_body1 {
    background-color: green;
}

.game__snake_body2 {
    background-color: lime;
}

.game__snake_body3 {
    background-color: lawngreen;
}

.game__empty_cell{
    background-color: black;
}

@keyframes fruitPulse{
    0% {
        background-color: #220000;
    }

    50%{
        background-color: red;
    }

    100%{
        background-color: #220000;
    }
}