.main_menu__container {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 90vh;
    min-height: 800px;
    width: 80%;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: var(--size-base);
    background-color: black;
    border-radius: var(--size-base);
}

.main_menu__title{
    font-size: var(--size-5xl);
    font-weight: bold;
}
