.main_menu__container {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 90vh;
    width: 80%;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: var(--size-base);
    background-color: black;
    border-radius: var(--size-base);
}

.main_menu__title{
    font-size: var(--size-5xl);
    font-weight: bold;
}

.standard__button {
    text-align: center;
    text-decoration: none;
    border: 3px solid black;
    border-radius: var(--size-base);
    padding: var(--size-base);
    width: 25vh;
    color: inherit;
    font-size: var(--size-2xl);
    font-weight: bold;
    transition: border-color ease 0.3s;
}

    .standard__button:hover {
        color: inherit;
        border: 3px solid green;
    }
