:root {
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.75rem;
    --size-4xl: 1.875rem;
    --size-5xl: 2.25rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6.5rem;
    --size-9xl: 8.5rem;
}

*{
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

body{
    height: 100vh;
    background-image: radial-gradient(60vh 110vh, purple 50%, black);
    background-repeat: repeat-y;
    color: green;
}

button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}


.standard__button {
    text-align: center;
    text-decoration: none;
    border: 3px solid black;
    border-radius: var(--size-base);
    padding: var(--size-base);
    width: 25vh;
    color: inherit;
    font-size: var(--size-2xl);
    font-weight: bold;
    transition: border-color ease 0.3s;
}

    .standard__button:hover {
        color: inherit;
        border: 3px solid green;
    }

