@page "/game"
@inject MainWindowViewModel Vm;

<PageTitle>Game</PageTitle>

<div class="game__container">
    @for(int i = 0; i < Vm.TotalGameGridCells; i++)
    {
        if(Vm.Fruit.PositionIndex == i)
        {
            <div class="game__fruit_cell"></div>
        }
        else
        {
            <div class="game__empty_cell"></div>
        }
    }
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        Vm.Play();
        await Task.Delay(1);
    }
}