@using HighScoresApiClient;
@using MongoDbData.Data;
@page "/highScores"

<PageTitle>High scores</PageTitle>

<div class="highScore_menu__container">
    <h1 class="highScore__title">High Scores</h1>
    <div class="highScore__container">
        @for(int i = 0; i < 10; i++)
        {
            <div class="highScore__line">
                <p class="highScore__text">Den</p>
                <p class="highScore__text">20</p>
            </div>
        }
    </div>
    <a class="standard__button" href="/">Main menu</a>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        var highScore = new HighScoreModel();
        highScore.Name = "BlazorTest";
        highScore.Score = 100;
        var result = await HighScoresRequests.SaveHighScore(highScore);

        var list = await HighScoresRequests.LoadHighScores();
    }
}