@page "/"

<PageTitle>Main menu</PageTitle>

<div class="main_menu__container">
    <h1 class="main_menu__title">Welcome to snake!</h1>
    <a class="standard__button" href="/game">Start</a>
    <a class="standard__button" href="/highScores">High scores</a>
</div>